* {
    box-sizing: border-box;
    color: inherit;
    font-family: var(--primary-font);
    text-decoration: none;
}

.body {
    background-color: var(--background-color);
}

:root {
    --primary-font: 'Rubik', sans-serif;
    --menu-color: #4a4a4a;
    --background-color: #3CDBC0;
    --title-color: #FFFFFF;
}

h1 {
    margin: 0;
}

/*HEADER*/
.header {
    background-color: var(--title-color);
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.wrapper {
    margin: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    padding-top: 10px;
    color: var(--menu-color);
    text-transform: uppercase; 
    font-size: 16px;
}
.home span {
    padding-left: 10px;
    padding-right: 10px;
}

/*MAIN*/
.main {
    transform: translate(0px, 115px);
    text-transform: capitalize;
    background-color: var(--background-color);
    color: var(--title-color);
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media all and (min-width: 768px) {
    .wrapper {
        margin: 20px 30px 20px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main {
        font-size: 40px;
    }
}