* {
    box-sizing: border-box;
    color: inherit;
    font-family: var(--primary-font);
    text-decoration: none;
    margin: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}
.body {
    background-color: var(--background-color);
}

:root {
    --primary-font: 'Rubik', sans-serif;
    --menu-color: #4a4a4a;
    --background-color: #3CDBC0;
    --title-color: #FFFFFF;
}

/*HEADER*/
.header {
    background-color: var(--title-color);
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.wrapper {
    margin: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 10px;
}
.menu {
    padding-top: 10px;
    color: var(--menu-color);
    text-transform: capitalize; 
    font-size: 16px;
}
.menu span {
    padding: 10px;
}

/*MAIN*/

.main {
    height: 100vh;
    transform: translate(0px, 115px);
    background-color: var(--background-color);
    color: var(--title-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    margin: 0;
    font-size: 1.875rem;
    text-transform: capitalize;
}
.title span {
    display: block
}

@media all and (min-width: 768px) {
    .wrapper {
        margin: 20px 30px 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {
        display: inline-block;
    }
    
    h1 {
        font-size: 2.5rem;
    }
}